setuptools
wheel
build
numpy
numpy>=2.0

# Web Framework
Flask==3.0.0
Flask-CORS==4.0.0
gunicorn==21.2.0
Werkzeug==3.0.0

# Image Processing
Pillow==10.4.0
opencv-python-headless==4.10.0.84

# OCR
pytesseract==0.3.13
pdf2image==1.17.0

# File Type Detection
python-magic==0.4.27