@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Lexend', sans-serif;
  }
}

@layer utilities {
  .hero-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  }
  
  .gradient-primary {
    background: linear-gradient(135deg, #52BDAA 0%, #74C9A9 50%, #52BD94 100%);
  }
}
